h1{
    font-size:small;
}

.button{
    /*display:inline-block;*/
    padding: 3px 6px;
    margin-top: 5px;
    border-radius: 20px;
    font-weight: 100;
    font-size: 10;
    height: 20%;
    color: rgb(255, 255, 255);
    background-color: rgb(79, 122, 252);
    transition: background-color 0.3s, transform 0.2s;
    border-color: rgb(79, 122, 252);
}

.button:hover{
    background-color: rgb(28, 72, 204);
    transform: translateY(-2px);
}