body {
    display: flex;
    flex-direction: row;      /* horizontal */
    align-items: center;
    gap: 10px;
    background-color: rgb(35, 34, 37);
}

h1{
    font-size:small;
    color: rgb(255, 255, 255);
}

.button{
    /*display:inline-block;*/
    padding: 3px 6px;
    margin-top: 5px;
    border-radius: 20px;
    font-weight: 100;
    font-size: 10;
    width: 45%;
    color: rgb(255, 255, 255);
    background-color: rgb(82, 58, 155);
    transition: background-color 0.3s, transform 0.2s;
    border-color: rgb(82, 58, 155);
}

.button:hover{
    background-color: rgb(94, 74, 154);
    transform: translateY(-2px);
}

a {
  color: rgb(200, 194, 219);
  text-decoration: none; /* no underline */
}

a:hover{
    color: rgb(161, 150, 195);
}